doctype html
head
  meta(charset='UTF-8')
  title Sad Mac 404 Error Page
  meta(name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover')
  style 
    include Resources/404.css
// partial:index.partial.html
figure
  .sad-mac
  figcaption
    span.sr-text Error 404: Not Found
    span.e
    span.r
    span.r
    span.o
    span.r
    span._4
    span._0
    span._4
    span.n
    span.o
    span.t
    span.f
    span.o
    span.u
    span.n
    span.d
// partial