doctype html
head
  meta(charset='UTF-8')
  title 500 - Internal Error
  
// partial:index.partial.html
link(href='https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400' rel='stylesheet')
    style
        include Resources/500.css

h1 500
h2
  | Unexpected Error 
  b :(
.gears
  .gear.one
    .bar
    .bar
    .bar
  .gear.two
    .bar
    .bar
    .bar
  .gear.three
    .bar
    .bar
    .bar
script(src='https://code.jquery.com/jquery-1.10.2.js')
script(src='js/main.js' type='text/javascript')
// partial
script(src='./script.js')